extends layoutBS

block content
  .jumbotron
    h1 Login to SkillMastery
    p You must have a gmail account to login to SkillMastery

    a.btn.btn-danger(href="/auth/google")
      span.fa.fa-google-plus  Google
