extends layoutBS

block content
  h1 CSS Demo
  p Welcome to #{title}
  .container
    .row
      .blue.col-sm-8
        | One of three columns
      .red.col-sm-3
        | One of three columns
      .green.col-sm-1
        | One of three columns
