extends layoutBS

block content
  h1 CSS Demo
  p Welcome to #{title}
  .container
    .jumbotron
      h1 Form Demo!
      p.
        This is my form demo 
    form
      .form-group
          label(for="exampleFormControlFile1") Example file input
          input#exampleFormControlFile1.form-control-file(type="file")

    .row
      .blue.col-2
        | One of three columns
      .red.col-8
        | One of three columns
      .green.col-2
        | One of three columns
