extends layoutBS

block content

  .jumbotron
    h1.display-4= title
    p.lead.
      Welcome to #{title}
  p.
    This is cool
  a.btn.btn-primary.btn-lg(href="#" role="button") Learn more

  button.btn.btn-info.btn-lg Do NOT push this button..
