extends layoutBS

block content
  .jumbotron
    h1 Login to the AuthDemo
    p You must have a gmail account to login to use AuthDemo

    a.btn.btn-danger(href="/auth/google")
      span.fa.fa-google-plus  Google
