extends layoutBS

block content
  .jumbotron
    h1 StarWars!
    p This provides info about the Star Wars movies

    ul
      each f in films
        li
          a(href="starwars/films/"+f.episole_id) #{f.title}
