extends layoutBS

block content
  .jumbotron
    h1 Star Wars 
    p May the force be with you!
    | #{film.title}
    br
    | #{film.release_date}
    br
    | #{film.director}
    br
    | #{film.producer}
    br
    | You are welcome!!

  
